# Test Result
The drawShape() function is a function that takes a Shape object and calls the draw() function to draw the shape.
The first call is made with the Shape object and "Drawing a shape." prints. The second call is made with the Rectangle object and "Drawing a rectangle." prints. This example demonstrates that the Liskov Principle is applied because the Rectangle class can be used as a replacement for the Shape class and exhibits the same behavior.

![x2](https://user-images.githubusercontent.com/86796541/221057865-662b690a-8dd1-4167-a77d-688c40b1fdf0.png)

