# Test Result
The output is a series of messages showing that each interface is doing its job. For example, when using the printer, "Printing a document." message is displayed and when using the scanner, "Scanning a document." message is displayed. When the AllInOne device is used, "Printing a document." and "Scanning a document." messages are displayed.


![x](https://user-images.githubusercontent.com/86796541/221056360-5113a8a6-a33d-437e-9c58-a8941655fdd2.png)
