# Test results
This code contains a data class Data and a DataPrinter class for printing this data class. The Data class stores a person's name and age, and the DataPrinter class takes a Data object and prints the name and age on standard output. This output contains the values "Nurullah Arican" and "21", the name and age of the Data object. The DataPrinter class prints these values to standard output.

![x4](https://user-images.githubusercontent.com/86796541/221071447-ec256da4-4153-4901-88f5-d7cc97aa11fc.png)
